<ng-template #template>
    <div class="modal-header">
        <h5 id="modalPost" class="modal-title pull-left">Sign In</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3 pl-2 pr-2">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="You Username">
                <!-- <div id="usernameHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3 pl-2 pr-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="You Password">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark">Login</button>
    </div>
</ng-template>