
<div class="card mb-3" style="width:100%;">
    <div class="row g-0">
      <div class="col-md-1">
        <img src="/assets/prato.png" alt="prato" style="height: 80px; padding: 15px 0 0 15px;">
      </div>
      <div class="col-md-11">
        <div class="card-body">
          <h5 class="card-title">{{ prato.nome }}</h5>
          <p class="card-text">{{ prato.preco | currency : 'BRL' }}</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>